.componentHead, .buttonarea{
    text-align: center;
    padding: 20px;
}

.full-width-table {
    width: 100%;
}

.closeIcon {
    color: red;
}

.closeIcon:hover {
    cursor: pointer;
}
  
#addButton {
    font-size: 20px;
    padding: 10px 60px;
}